#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Chrome - Work profile
Exec=/usr/bin/google-chrome-stable "--profile-directory=Profile 1" --new-window %U
Icon=google-chrome
Categories=Network;WebBrowser;
StartupNotify=true
GenericName=Para agarrar la pala
